# Path to your Amazon Games 'GameInstallInfo.sqlite' db file.
AG_MANIFEST_DB_PATH="C:\\path\\to\\GameInstallInfo.sqlite"

# Directory where the nile 'library.json' is located.
NILE_MANIFEST_DIR="C:\\path\\to\\nile"

# Manifest source to use for state of currently installed games, 'ag' for Amazon Games or 'nile' for nile-cli. Ensure AG_MANIFEST_DB_PATH or NILE_MANIFEST_DIR is correctly set according to your choice.
LIBRARY_SOURCE=nile

# Option to update Amazon Games db after moving games. If True, ensure AG_MANIFEST_DB_PATH is correctly set.
UPDATE_AG_MANIFEST=False

# Option to update nile-cli manifests after moving games. If True, ensure NILE_MANIFEST_DIR is correctly set.
UPDATE_NILE_MANIFEST=True

# Comma separated list of possible root game install directories.
INSTALL_DIR_OPTIONS="C:\\Amazon Games\\Library,D:\\Amazon Games,E:\\Amazon Games"
