# Manifest source to use for state of currently installed games, 'egl' for Epic Games or 'legendary' for legendary-cli.
LIBRARY_SOURCE=legendary

# Option to update Epic Games manifests after moving games. If True, provide path to your Epic Games manifests.
UPDATE_EGL_MANIFEST=False
EGL_MANIFEST_DIR="C:\\ProgramData\\Epic\\EpicGamesLauncher\\Data\\Manifests"

# Option to update legendary-cli manifests after moving games. If True, provide directory where legendary 'installed.json' is located.
UPDATE_LEGENDARY_MANIFEST=True
LEGENDARY_MANIFEST_DIR="\\path\\to\\legendary"

# Comma separated list of possible root game install directories.
INSTALL_DIR_OPTIONS="C:\\Program Files (x86)\\Epic Games\\games,D:\\Epic Games,E:\\Epic Games"
